{{ define "main" }}

{{ $Pages := .Pages }}

{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

{{ if .Site.Params.excerpts }}

{{- range $Pages }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006" }}</time>{{ end }}
  </header>
  {{ .Summary }}
  {{- if .Truncated }}
    <div><a href="{{ .RelPermalink }}">Leer más</a></div>
  {{- end }}
</article>
{{- end }}

{{ else }}

<article>
  <ul class="container mx-auto">
	<header class="m-4">
		<small class="text-gray-400">{{ .Title | default "Posts" | humanize }}</small>
	</header>
    {{- range $Pages }}
    <li class="bg-gray-100 m-4 p-6 rounded-2xl border-2">
      	<small class="text-blue-600 font-semibold">{{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>{{ end }}</small>
		<div>
	  		<a class="text-xl font-light text-gray-600" href="{{ .Permalink }}">{{ .Title }}</a>
		</div>
    </li>
    {{- end }}
  </ul>
  {{ .Content }}
</article>

{{ end }}

{{ end }}
